_other/
build/
*.userdb/
sync/
.vscode/
backup/
*.userdb.old/

default*
installation.yaml
key_bindings.yaml
punctuation.yaml
symbols.yaml 
user.yaml
weasel.custom.yaml 
.place_holder

script.ipynb
wubi86-GENERATED.dict.yaml
